.contact_details_features-section {
    .container {
        padding: 50px 0;

        .icons {
            width: 50px !important;
            margin: 0 auto;
        }

        .title {
            width: 20px;
            font-weight: bold;
            margin: 0;
        }

        .right {
            text-align: right;
        }
    }
}